---
layout: page
title: "About me"
description: "things about me."
header-img: "img/yellow.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文  </option>
    <option value="1"> English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
    	过有意义的一生
    </blockquote>
	<p style="font-weight: bold">关于我：</p>
	<ul>
		<li>冉东，1989年</li>
		<li>2013年毕业于西南大学，自动化专业</li>
		<li>比亚迪汽车，三年</li>
		<li>软件工程师，汽车电子产品，嵌入式</li>
		<li>精通C语言，熟悉C++</li>
		<li>正学习linux</li>
		<li>看好汽车互联及衍生服务和产品</li>
		<li>爱骑行，爱户外</li>
	</ul>
	<p>以上...</p>
</div>

<!-- English Version -->
<div class="en">
    <blockquote>
        Live a meaningful life.
    </blockquote>
	<p style="font-weight: bold">About me：</p>
	<ul>
		<li>Ran Dong，1989</li>
		<li>Southwest university, Automation</li>
		<li>BYD, 3 years</li>
		<li>Software Engineer, automotive electronics</li>
		<li>proficient in C, familiar with C++</li>
		<li>learning linux</li>
		<li>Interests: Mountain biking, Outdoor </li>
	</ul>
	<p>Above...</p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
